body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    background-color: #f9f9ff;
}

h1 {
    margin-bottom: 20px;
}

button {
    padding: 15px 30px;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background-color: #ffb6c1;
    color: white;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #ff8fab;
}
